/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343a40; /* Color de fondo */
}

.navbar-brand {
    color: #ffffff; /* Color del texto */
    font-size: 1.8rem; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}

.nav-link {
    color: #ffffff !important; /* Color del texto */
    font-size: 1.2rem; /* Tamaño de fuente */
}

.nav-link:hover {
    color: #f0ad4e !important; /* Color del texto al pasar el ratón */
}

/* Contenido principal */
.container {
    background-color: #ffffff; /* Color de fondo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra */
}

/* Footer */
footer {
    background-color: #343a40; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 10px 0;
}

/* Estilos adicionales */
.btn-primary {
    background-color: #f0ad4e; /* Color de fondo del botón */
    border-color: #f0ad4e; /* Color del borde del botón */
}

.btn-primary:hover {
    background-color: #eea236; /* Color de fondo del botón al pasar el ratón */
    border-color: #eea236; /* Color del borde del botón al pasar el ratón */
}


