<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Comunidad de Artesanos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('') }}">Inicio</a></li>
                <li><a href="{{ url_for('') }}">Registrarse</a></li>
                <li><a href="{{ url_for('') }}">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 Comunidad de Artesanos</p>
    </footer>
</body>
</html>
