<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Cliente</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Artesanías</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/templates/clientes/perfil.html">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/encargos">Encargos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="img">
        <header class="cabecera">
            <img src="https://img.freepik.com/foto-gratis/composicion-vista-superior-elementos-higge-invierno_23-2148715893.jpg?t=st=1719323767~exp=1719327367~hmac=4a10c36f215ccae9a72ed4ea8c73a7bca1a472dda048decf95f1d60143c48457&w=996" alt="Imagen de artesanías">
        </header>
    </div>

    <main>
        <div class="main-section">
            <h1>Bienvenido a nuestra plataforma de Artesanías</h1>
            <p>Explora nuestra amplia gama de productos artesanales y apoya a nuestros talentosos artesanos.</p>
        </div>
    </main>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2024 Artesanías. Todos los derechos reservados.
        </div>
    </footer>
</body>
</html>
